.DS_Store
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.lsp
.clj-kondo/.cache
.calva
.vscode
.idea
kushi.workspace.code-workspace
node_modules
.shadow-cljs
**/public/js/*
.cpcache

