html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: rgb(212, 212, 212);
  background-image: linear-gradient(to bottom right, black, white);
  height: 100%;
  /* background-color: rgb(47, 47, 51); */

  #app {
    --dark-gray: oklch(44.59% 0.00005 271.152);
    --medium-gray: #7c7c7c;
    --light-gray: oklch(73.802% 0.00008 271.152);
    --child-sz: 125px;
    --order: 3;
    --dur2: 3s;
    --dur: var(--dur2);
    --border-width: 1px;
    --gap: 10px;
    background-color: rgba(128, 128, 128, 0.507);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    & div{
      border-radius: 7px;
    }
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 100;
      width: var(--child-sz);
      height: var(--child-sz);
      font-size: 36px;
      position: relative;
      transition: all;
      transition-duration: 2s;
      &:nth-child(1) {
        background-color: color-mix(in oklch, var(--dark-gray), transparent);
        /* border: var(--border-width) solid var(--magenta); */
        color: var(--magenta);
      }
      &:nth-child(2) {
        background-color: color-mix(in oklch, var(--medium-gray), transparent);
        /* border: var(--border-width) solid var(--blue); */
        color: var(--blue);
      }
      &:nth-child(3) {
        background-color: color-mix(in oklch, var(--light-gray), transparent);
        /* border: var(--border-width) solid var(--lime); */
        color: var(--lime);
      }
    }
    & #gc {
      text-align: center;
      color: white;
      background-color: color-mix(in oklch, rgb(255, 255, 255), transparent 90%);
      border-radius: 100%;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 25%;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 800;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all;
      translate: -50% -50%;
      transition-duration: 2s;
    }
  }
}
